.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
    width: auto;
}

.product-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-details-grid {
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #d5ddfc;
    padding: 30px;
}

.product-image-specs {
    flex: 2;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.product-image-container {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.specs-box p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.product-options {
    flex: 2;
    min-width: 400px;
}

.product-section .product-price {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black
}

.option-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.option-label {
    font-weight: bold;
}
.quantity-control {
    display: flex;
    align-items: center;
}
.option-value {
  margin-left: 10px;  /* Tạo khoảng cách với nhãn */
  font-size: 16px;
  font-weight: 500;   /* Trọng lượng chữ vừa phải */
}
.qty-button {
    background-color: var(--color-light-gray);
    color: var(--color-text);
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

.qty-input {
    width: 40px;
    text-align: center;
    padding: 5px 0;
    border: 1px solid var(--color-light-gray);
    background-color: white;
    color: var(--color-text);
    font-weight: bold;
}

.qty-input::-webkit-outer-spin-button,
.qty-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.action-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.buy-now-button, .add-to-cart-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.2s;
}

.buy-now-button {
    background-color: var(--color-light-gray); 
    color: var(--color-text);
}

.add-to-cart-button {
    background-color: var(--color-success); 
    color: white;
}

.buy-now-button:hover, .add-to-cart-button:hover {
    opacity: 0.9;
}

.buy-now-button:hover, .add-to-cart-button:hover {
    opacity: 0.9;
    background-color: #415ed0;
}