/*import tất cả file css vào trong này*/
@import url("style.css");

/*NHỮNG STYLE CHUNG CHO TOÀN BỘ TRANG WEB BỎ VÀO TRONG NÀY*/    
:foot {
    --main-color: #1bcaf1; /*màu chủ đạo*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*giúp kích thước của các phần tử không bị phình to ra 
                            ngoài kích thước mong muốn*/
    
}

body {
    /* height: 100vh; không sài trong trường hợp web dài có cuộn trang */
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #FCF7F8;
    color: #333;
}

